body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://www.shutterstock.com/image-illustration/handmade-mechanical-stopwatch-close-atmosphere-260nw-1899555139.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

.container {
  text-align: left;
  margin-left: 30px;
  z-index: 1;
}

.stopwatch {
  background-color: rgba(255, 255, 255, 0.6); 
  color: #c7c6c6; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(216, 185, 185, 0.2); 
  display: flex;
  flex-direction: column; 
}

#display {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

.buttons {
  margin-bottom: 20px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ffffff; 
  color: #333;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

button:hover {
  background: #e0e0e0;
  border-color: #bbb;
}

.laps {
  text-align: left;
  margin-top: 20px;
}

.laps h2 {
  margin-bottom: 10px;
  color: #333;
}

#lapsList {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

#lapsList li {
  background: #f9f9f9;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #333;
  border: 1px solid #ccc;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.social-icons a:hover {
  opacity: 1;
}
